
@media (max-width:640px){
    .section-p1 {
        padding: 20px;
      }
      #hero{
        padding: 20px;
      }
      #feature .fe-box{
        width: 45%;
      }
      #Product1 .pro{
        width: 100%;
      }
      #sm-banner .banner-box{
        width: 100%;
      }
      #banner3{
        padding: 20px;
      }
      #banner3 .banner-box{
        width: 100%;
      }
      #newlester .From{
        width: 100%;
      }
      .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #prodetiles {
      display: flex;
      flex-direction: column;
    }
    #prodetiles .single-pro-image {
      width: 100%;
    }
    #prodetiles .single-pro-detiles {
      width: 100%;
    }
    /* blog page */
    #blog{
      padding: 100px 20px 0 20px;
    }
    /* blog page end */
    /* about page */
    #about-head {
      flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
}
#about-head div {
  padding-left: 0px;
}
#about-app .video {
  width: 100%;
}
/* about page end */
/* contact design  */
#contact-details .details{
  width: 100%;
}
#contact-details .map{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact-details{
  flex-direction: column;
  
}
/* contact design end */
/* from design  */
#form-details input,textarea{
  width: 100%;
}
#form-details form{
  width: 100%;
}
/* from design end */
/* cart design */
#cart-add {
 flex-direction: column;
}
#coupon{
  width: 100%;
}
#subtotal{
  width: 100%;
  padding: 20px;
}
}



@media (max-width: 768px){
  #sm-banner .banner-box{
    width: 100%;
  }
  #sm-banner .banner-box2{
    font-size: 14px;
  }
}